<br>
<div class="card" >
    <div class="titulo text-center">
        <p class="lead">Seguimiento a documentaci&oacute;n que requiera un visto bueno.</p>
    </div>
    <div class="cuerpo container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="form-group row">
                <label for="staticProceso" class="col-sm-2 col-form-label">Proceso:</label>
                <div class="col-sm-9">
                    <select class="form-control">
                        <option>Seleccionar</option>
                        <option>Proceso 1</option>
                        <option>Proceso 2</option>
                        <option>Proceso 3</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="cuerpo container">
        <div class="container mt-5 mb-5">
            <div class="row">
                <div class="col-md-6 offset-md-3">
                    <h4>Visto Bueno Proceso</h4>
                    <ul class="timeline">
                        <li>
                            <a class="textoRojo" >Asignación Leslie Rodríguez </a>
                            <a class="float-right textoRojo">14-Agosto-2022</a>
                            <p>Se requiere firma del contrato para pag&oacute; de proveedor X.</p>
                            <div>Fecha Límite :<p class="font-weight-bold">18-Agosto-2022</p></div>
                        </li>
                        <li>
                            <a class="textoRojo" >Asignación Juan Peréz </a>
                            <a class="float-right textoRojo">16-Agosto-2022</a>
                            <p>Se requiere firma del contrato para pag&oacute; de proveedor X.</p>
                            <div>Fecha Límite :<p class="font-weight-bold">19-Agosto-2022</p></div>
                        </li>
                        <li class="li_error" >
                            <a class="textoRojo" >Asignación Elisa Guzman </a>
                            <a class="float-right textoRojo">18-Agosto-2022</a>
                            <p>Se requiere firma del contrato para pag&oacute; de proveedor X.</p>
                            <div>Fecha Límite :<p class="font-weight-bold">20-Agosto-2022</p></div>
                        </li>
                        <li>
                            <p>FIN</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>