<br>
<div class="card" >
    <div class="titulo text-center">
        <p class="lead">Seguimiento a documentaci&oacute;n que requiera un visto bueno.</p>
    </div>
    <div class="cuerpo container">
        <div class="row">&nbsp;</div>
        <div class="row">
            <div class="input-group">
                <span class="input-group-text">Nombre :</span>
                <input type="text" aria-label="Nombre" class="form-control">
                <input type="text" aria-label="App Paterno" class="form-control">
                <input type="text" aria-label="App Materno" class="form-control">
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row">    
            <div class="input-group">
                <span class="input-group-text">Telefono :</span>
                <input type="text" aria-label="telefono" class="form-control">
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row"> 
            <div class="input-group">
                <span class="input-group-text">Correo :</span>
                <input type="text" aria-label="correo" class="form-control">
            </div>
        </div>
        <div class="row">&nbsp;</div>
        <div class="row"> 
            <div class="col-md-6">
                <button type="button" class="btn btn-primary">Guardar</button>
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-primary">Borrar</button>
            </div>
        </div>
        <div class="row">&nbsp;</div>
    </div>
</div>
