<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Check Tracking</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Inicio</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Usuario
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/usuario/alta">Alta</a></li>
              <li><a class="dropdown-item" href="/usuario/consulta">Consulta</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Configuraci&oacute;n
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/configuracion/plantilla">Plantilla</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/consulta">Consulta</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="/proceso">Procesos</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
